@import "./variables.css";

* {
  transition: all 0.5s cubic-bezier(0.07, 0.95, 0, 1);
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.space {
  flex: 1;
}

.column {
  flex-direction: column;
}

.top {
  background: transparent !important;
  box-shadow: none !important;
}

.mirai-icon {
  text-decoration: none;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  object-fit: contain;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}
