@import url('assets/fonts/SFCompact/stylesheet.css');
@import url('assets/fonts/SFPro/stylesheet.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');

* {
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'SF UI Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes AppBarIntro {
  from {
    transform: translateY(-50%);
  }
  to {
  }
}

@keyframes SplashPaperIntro {
  from {
    transform: translateY(25%);
  }
  to {
  }
}

@keyframes BgIntro {
  from {
    opacity: 0;
  }
  to {
  }
}

@keyframes animeBGIntro {
  0% {
    filter: blur(30px);
    transform: scale(0.5);
    opacity: 1;
  }
  50% {
    filter: blur(15px);
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    filter: blur(0px);
    transform: scale(1);
    opacity: 0.1;
  }
}
