.search-container {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50pt;
  box-shadow: 0 2pt 8pt rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

.search-container > .search {
  padding: 0 1em;
  margin: auto;
}

.anime-list-list {
}

.anime-list-list > .anime-list-item:last-of-type {
  border-bottom: none;
}

.anime-list-list > .anime-list-item {
  border-bottom: 1pt solid rgba(255, 255, 255, 0.1);
}

.seperator {
  display: inline-flex;
}

.seperator > .seperator-line {
  flex: 1;
  border-bottom: 1pt solid rgba(255, 255, 255, 1);
  width: 100%;
  height: 1pt;
}

.seperator > .seperator-title {
  letter-spacing: 0.5em;
}
