@import "./assets/css/main.css";

@font-face {
  font-family: "Aller";
  src: url("./assets/fonts/Aller_Rg.ttf");
}

/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/

/** Black */

@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("./assets/fonts/SF-UI-Display-Black.otf");
}

/** Bold */

@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("./assets/fonts/SF-UI-Display-Bold.otf");
}

/** Heavy */

@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("./assets/fonts/SF-UI-Display-Heavy.otf");
}

/** Light */

@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("./assets/fonts/SF-UI-Display-Light.otf");
}

/** Medium */

@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("./assets/fonts/SF-UI-Display-Medium.otf");
}

/** Regular */

@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("./assets/fonts/SF-UI-Display-Regular.otf");
}

/** Semibold */

@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("./assets/fonts/SF-UI-Display-Semibold.otf");
}

/** Thin */

@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("./assets/fonts/SF-UI-Display-Thin.otf");
}

/** Ultralight */

@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("./assets/fonts/SF-UI-Display-Ultralight.otf");
}

/*---------------------------------------------------------------------------*
   * SF Mono
   *---------------------------------------------------------------------------*/

/** Bold */

@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  src: url("./assets/fonts/SFMono-Bold.otf");
}

/** Bold Italic */

@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  font-style: italic;
  src: url("./assets/fonts/SFMono-BoldItalic.otf");
}

/** Heavy */

@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  src: url("./assets/fonts/SFMono-Heavy.otf");
}

/** Heavy Italic */

@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  font-style: italic;
  src: url("./assets/fonts/SFMono-HeavyItalic.otf");
}

/** Light */

@font-face {
  font-family: "SF Mono";
  font-weight: 200;
  src: url("./assets/fonts/SFMono-Light.otf");
}

/** Light Italic */

@font-face {
  font-family: "SF Mono";
  font-weight: 200;
  font-style: italic;
  src: url("./assets/fonts/SFMono-HeavyItalic.otf");
}

/** Medium */

@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  src: url("./assets/fonts/SFMono-Medium.otf");
}

/** Medium Italic */

@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  font-style: italic;
  src: url("./assets/fonts/SFMono-MediumItalic.otf");
}

/** Regular */

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url("./assets/fonts/SFMono-Regular.otf");
}

/** Regular Italic */

@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  font-style: italic;
  src: url("./assets/fonts/SFMono-RegularItalic.otf");
}

/** Semibold */

@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  src: url("./assets/fonts/SFMono-Semibold.otf");
}

/** Smibold Italic */

@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  font-style: italic;
  src: url("./assets/fonts/SFMono-SemiboldItalic.otf");
}

#root {
  height: 100%;
  width: 100%;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  will-change: auto;
}

.floatingIcon {
  width: 128pt;
  height: 128pt;
  margin: 48pt auto 12pt auto;
  animation: floating infinite 2s ease;
  filter: drop-shadow(0 2pt 32pt #0066ff);
}

.floatingIconMirai {
  width: 128pt;
  height: 128pt;
  border-radius: 50%;
  margin: 48pt auto 12pt auto;
  animation: floating3D infinite 10s ease;
  filter: drop-shadow(0 2pt 12pt rgba(0, 0, 0, 0.17));
}

.specialTitleHeader {
  margin: auto !important;
  color: white !important;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  top: 25%;
  transform: scale(1.4) translateX(-15%);
  transition: all 0.5s ease;
  font-weight: 700 !important;
  text-align: center;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.7);
}

@media (max-width: 800px) {
  .specialTitleHeader {
    transform: scale(0.8) translateX(-15%);
  }
}

.artworktitle {
  transition: all 0.3s ease;
  z-index: 90000000;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%) translateZ(20px);
  left: 50%;
  font-weight: 700 !important;
  color: white !important;
  text-shadow: 0 3px 30px rgba(0, 0, 0, 0.4);
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes floating3D {
  0% {
    box-shadow: 0 5px 24px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(0px) rotate3d(0, 0, 0, 0deg);
  }
  35% {
    box-shadow: 0 32px 32px 0px rgba(0, 0, 0, 0.03);
    transform: translateY(-20px) perspective(400px) rotate3d(-10, 50, -10, 5deg);
  }
  65% {
    box-shadow: 0 32px 32px 0px rgba(0, 0, 0, 0.03);
    transform: translateY(-20px) perspective(400px) rotate3d(-75, 50, 0, -5deg);
  }
  100% {
    box-shadow: 0 5px 24px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(0px) rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes floating3DX {
  0% {
    box-shadow: 0 5px 24px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(0px) rotate3d(0, 0, 0, 0deg);
  }
  35% {
    box-shadow: 0 32px 32px 0px rgba(0, 0, 0, 0.03);
    transform: translateY(-1px) perspective(400px) rotate3d(-10, 50, -10, 5deg);
  }
  65% {
    box-shadow: 0 32px 32px 0px rgba(0, 0, 0, 0.03);
    transform: translateY(-1px) perspective(400px) rotate3d(10, 50, 10, -5deg);
  }
  100% {
    box-shadow: 0 5px 24px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(0px) rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes floating3DSelected {
  0% {
    box-shadow: 0 5px 24px 0px rgba(0, 0, 0, 0.2);
  }
  35% {
    box-shadow: 0 32px 32px 0px rgba(0, 0, 0, 0.03);
  }
  65% {
    box-shadow: 0 32px 32px 0px rgba(0, 0, 0, 0.03);
  }
  100% {
    box-shadow: 0 5px 24px 0px rgba(0, 0, 0, 0.2);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fuck {
  0% {
    transform: translateY(0px) rotate3d(0, 0, 0, 0deg);
  }
  50% {
    transform: scale(1.05) perspective(400px) rotate3d(-1, 1, 0, 1deg);
  }
  100% {
    transform: translateY(0px) rotate3d(0, 0, 0, 0deg);
  }
}

@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
  }
}

@keyframes loadInH {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.28;
  }
}

@keyframes playerLoad {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInSlowly {
  from {
    opacity: 0;
    filter: grayscale(1);
    transform: scale(1.2) translateZ(-20px);
  }
  to {
  }
}

.whiteshit {
  background: white !important;
  box-shadow: none !important;
  color: #111 !important;
}

.whiteshit > * > *,
.whiteshit > * > * > * {
  color: #111 !important;
}

.containerS {
  padding: 64px;
  box-sizing: border-box;
  background: transparent !important;
  transition: all 0.3s ease;
}

.compacMode {
  background: initial !important;
}

.webKitThumbButton[type="range"]::-webkit-slider-thumb {
  height: 16px;
  -webkit-appearance: none;
  width: 16px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.webKitSlider[type="range"] {
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent;
  user-select: none;
  outline: none;
}

.webKitSlider[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.webKitSlider[type="range"]::focus::-webkit-slider-runnable-track {
  outline: none;
  user-select: none;
}

.hiddenfileinput {
  display: none;
}
