@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
code,
a,
body,
.MuiPaper-root {
  transition: all 0.375s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html,
body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// Ensure all components can take maximum space avaliable with restrictions

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#root {
  display: inherit;
  flex-direction: inherit;
  min-width: inherit;
  min-height: inherit;
  max-height: inherit;
  overflow: hidden;
}

.app-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.1;
  pointer-events: none;
}

.invisible {
  display: none;
}

.bg-preview {
  width: 100px;
  margin-right: 24px;
}

.anime-cover-image-list {
  width: 72px;
}

.player-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}